@import "tailwindcss";

@theme {
  --font-sans: "Inter", sans-serif;
  --font-heading: "Montserrat", sans-serif;
  --font-mono: "Geist Mono", monospace;

  --color-brand: var(--color-blue-800);
  --color-brand-hover: var(--color-blue-900);

  --color-surface: var(--color-white);
  --color-background: var(--color-slate-50);
  --color-text-main: var(--color-slate-900);
  --color-text-muted: var(--color-slate-600);
}

@layer base {
  html {
    scroll-behavior: smooth;
  }
  body {
    background-color: var(--color-background);
    color: var(--color-text-main);
  }
}
