@import "tailwindcss";

@theme {
  --font-sans: "Inter", sans-serif;
  --font-heading: "Montserrat", sans-serif;
  --font-mono: "Geist Mono", monospace;

  --color-background: var(--color-gray-50);
  --color-surface: var(--color-white);

  --color-text-main: var(--color-gray-900);
  --color-text-muted: var(--color-gray-500);

  --color-brand: #44b6ce;
  --color-brand-hover: #3692a5;
}

@layer base {
  html {
    scroll-behavior: smooth;
  }
  body {
    background-color: var(--color-background);
    color: var(--color-text-main);
  }
}
